@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #111827;
}

.text-masai-red {
  color: #ff3b30;
}

.btn-masai {
  background-color: #ff3b30;
  color: white;
  border: none;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 8px;
}

.btn-masai:hover {
  background-color: #d63026;
  color: white;
}

.btn-outline-masai {
  background-color: transparent;
  color: #111827;
  border: 2px solid #111827;
  font-weight: 600;
  border-radius: 8px;
}

.btn-outline-masai:hover {
  background-color: #111827;
  color: white;
}

.hero-bg {
  background-color: #fffbfb;
}